@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Zadaća 4 - Black Box Testiranje</h1>
    <hr />
    <div style="margin-top: 2%; color: darkgray; font-size: 1em">
        <b>Ova web-aplikacija namijenjena je za black box testiranje.
        <br>
        Sastoji se od korisničkog interfejsa koji omogućava unos i pregled knjiga.
        <br>
        Na naslovnoj stranici nalazi se prikaz elemenata koji su trenutno dodani u listu.
        <br>
        Za perzistenciju podataka ne koristi se nikakva baza podataka, već isključivo programska logika.
        <br />
        Za ovu zadaću nije neophodno moći editovati ili brisati objekte, tako da je brisanje objekata moguće samo 
        ukoliko se aplikacija zaustavi i zatim ponovo pokrene.
        <br>
        <br>
        Više informacija o zadaći 4 možete naći na <a href="https://c2.etf.unsa.ba/course/view.php?id=307"> sljedećem linku.</a>
    </div>
</div>